In [6]:
from data_tools.generate_testing_dataset import df

In [7]:
df.head()

,id,price,year,region,manufacturer,model,condition,cylinders,fuel,odometer,transmission,VIN,drive,type,paint_color,image_url,title_status,lat,long
0,1404801288,21073.986263,2015,Agate (historical),mitsubishi,NaN,new,8 cylinders,gas,46651.763227,automatic,054hnfood98e63qjnjy2,front wheel drive,suv,cobalt,NaN,clean,42.505339,42.315217
1,1889081416,14528.555139,2005,Hidaway Meadows,bmw,NaN,parts,6 cylinders,electric,30234.801437,automatic,mm9qrz8y6cmheznzuc46,front wheel drive,sedan,purple,NaN,salvage,43.454891,47.405315
2,1546624400,13436.872476,2017,Gordey Creek,toyota,NaN,fair,4 cylinders,gas,818.774312,manual,h5f6j45mnl8c1pen3s62,rear wheel drive,pickup,purple,NaN,clean,43.485253,45.118518
3,1030324677,21865.342527,2017,Creamery Creek,audi,NaN,poor,6 cylinders,electric,24873.208323,manual,wzf6fgj1l2gt41p7lzrv,rear wheel drive,pickup,orange,NaN,clean,44.336349,42.547881
4,1860683693,15220.041728,2015,Winter Ridge,ford,NaN,fair,8 cylinders,diesel,5355.366889,automatic,e0qm3dwe62on0c0j9s8f,rear wheel drive,suv,green,NaN,None,45.065845,42.543919

In [8]:
df['condition'].value_counts()

fair     222
parts    201
new      198
poor     198
good     181
Name: condition, dtype: int64

In [9]:
df['drive'].value_counts()

rear wheel drive     363
four wheel drive     332
front wheel drive    305
Name: drive, dtype: int64

In [10]:
from app_here.utilities.map_info.json_map_data import topojson